In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('bai1_tips.csv')

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.shape

(244, 7)

**1. Tính tổng tiền hóa đơn và tiền tip trung bình theo từng ngày.**

In [22]:
total = df.groupby('day')['total_bill'].sum().reset_index()
total.columns = ['Day', 'Total']

print(total)

    Day    Total
0   Fri   325.88
1   Sat  1778.40
2   Sun  1627.16
3  Thur  1096.33

In [25]:
avg = df.groupby('day')['tip'].mean().reset_index()

avg.columns = ['Day', 'Avg_tip']

print(avg)

    Day   Avg_tip
0   Fri  2.734737
1   Sat  2.993103
2   Sun  3.255132
3  Thur  2.771452

**2. Tính tỷ lệ tiền tip so với tổng hóa đơn, sau đó tìm khách hàng nào đã tip nhiều nhất (theo tỷ lệ).**