In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bai1_tips.csv')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.shape

(244, 7)

**1. Tính tổng tiền hóa đơn và tiền tip trung bình theo từng ngày.**

In [5]:
total = df.groupby('day')['total_bill'].sum().reset_index()
total.columns = ['Day', 'Total']

print(total)

    Day    Total
0   Fri   325.88
1   Sat  1778.40
2   Sun  1627.16
3  Thur  1096.33

In [6]:
avg = df.groupby('day')['tip'].mean().reset_index()

avg.columns = ['Day', 'Avg_tip']

print(avg)

    Day   Avg_tip
0   Fri  2.734737
1   Sat  2.993103
2   Sun  3.255132
3  Thur  2.771452

**2. Tính tỷ lệ tiền tip so với tổng hóa đơn, sau đó tìm khách hàng nào đã tip nhiều nhất (theo tỷ lệ).**

In [ ]:
df['Tile']=df['tip']/df['total_bill']

print(df[['tip', 'total_bill', 'Tile']])

      tip  total_bill      Tile
0    1.01       16.99  0.059447
1    1.66       10.34  0.160542
2    3.50       21.01  0.166587
3    3.31       23.68  0.139780
4    3.61       24.59  0.146808
..    ...         ...       ...
239  5.92       29.03  0.203927
240  2.00       27.18  0.073584
241  2.00       22.67  0.088222
242  1.75       17.82  0.098204
243  3.00       18.78  0.159744

[244 rows x 3 columns]

In [22]:
khang_shop = df.loc[df['tip'].idxmax(), 'sex']
print(khang_shop)

Male

In [ ]:
nam = df[df['sex'] == "Male"].shape[0]
nu = df[df['sex'] == "Female"].shape[0]

if nam > nu:
    print("Male>Fenale")
else:    
    print("Male<Fenale")

157
87
Male>Fenale

In [43]:
avg_nam = df.loc[df['sex'] == "Male", 'tip'].mean()
avg_nu = df.loc[df['sex'] == "Female", 'tip'].mean()

if avg_nam > avg_nu:
    print("Male tiep nhieu hon")
else: print("Female tiep nhieu hon")

Male tiep nhieu hon

In [50]:
df['Tip_Percebtage'] = (df['tip']/df['total_bill'])*100
loc_ti_le = df.loc[df['Tip_Percebtage'] >= 20, 'day']

print(f'Co {loc_ti_le.shape[0]} bua an co tien tiep > 20%')

Co 39 bua an co tien tiep > 20%